<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxxApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>12</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AC971B8C9631C9C312727AA2B63A1426B7CED1E3</string>
				<key>dateExpires</key>
				<string>3/22/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3N9RY9EG8V.com.clawdbonzo.MaxxApp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3N9RY9EG8V</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MaxxApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>02cae7ed-6979-4890-ae87-91fa23210cae</string>
				<key>dateExpires</key>
				<string>3/22/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.clawdbonzo.MaxxApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3N9RY9EG8V</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
